html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    background: black;
    padding: 10px;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0 25px;

}